<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
    <title>NutrIA</title>
    <link rel="icon" href={~p"/favicon.ico"} />
    <link rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer src={~p"/assets/phoenix_html.js"}></script>
    <script defer src={~p"/assets/phoenix.js"}></script>
    <script defer src={~p"/assets/phoenix_live_view.js"}></script>
    <script defer src={~p"/assets/app.js"}></script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
